@media (min-width:769px) and (max-width:9999999px){
    .phone{
        display : none;
    }

    #closeBtn{
        display:none;
    }
}

@media (min-width:0px) and (max-width:768px){
    .desktop{
        display : none;
    }
}

@media (max-width: 1450px) {

    .allProjects{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 29vw;
        height: 29vw;
        margin: 20px 10px 0 10px;
    }

    h1{
        font-size: 40px;
        margin-left: 150px;
    }

    #aboutMeSection p{
        padding-left: 7vw;
        padding-right: 50px;
    }
}


@media (max-width: 1024px) {
    .compImgTxt img{
        height:100px;
    }

    .ligne{
        display: flex;
        padding-left: 10vw;
        flex-wrap: wrap;
    }

    .allProjects{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 40vw;
        height: 40vw;
        margin: 20px 10px 0 10px;
    }
}

@media (max-width: 768px) {
    #accueilLeft{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='668' height='878' preserveAspectRatio='none' viewBox='0 0 668 878'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1061%26quot%3b)' fill='none'%3e%3crect width='668' height='878' x='0' y='0' fill='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/rect%3e%3cpath d='M -1138.3822479083333%2c336 C -1004.78%2c391.4 -737.58%2c646.2 -470.3822479083334%2c613 C -203.18%2c579.8 -30.06%2c177.6 197.6177520916666%2c170 C 425.29%2c162.4 573.92%2c494 668%2c575' stroke='rgba(4%2c 139%2c 154%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -893.9238425410508%2c325 C -760.32%2c395.8 -493.12%2c719 -225.92384254105076%2c679 C 41.28%2c639 263.29%2c137 442.07615745894924%2c125 C 620.86%2c113 622.82%2c520.2 668%2c619' stroke='rgba(4%2c 139%2c 154%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -445.24991039664826%2c503 C -311.65%2c438.6 -44.45%2c180.6 222.75008960335177%2c181 C 489.95%2c181.4 801.7%2c467.8 890.7500896033517%2c505 C 979.8%2c542.2 712.55%2c394.6 668%2c367' stroke='rgba(4%2c 139%2c 154%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1022.4752142112486%2c605 C -888.88%2c551.6 -621.68%2c358.2 -354.47521421124856%2c338 C -87.28%2c317.8 109.03%2c509 313.52478578875144%2c504 C 518.02%2c499 597.1%2c351.2 668%2c313' stroke='rgba(4%2c 139%2c 154%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -647.1438865019995%2c381 C -513.54%2c441 -246.34%2c726.6 20.856113498000447%2c681 C 288.06%2c635.4 559.43%2c182.2 688.8561134980005%2c153 C 818.28%2c123.8 672.17%2c458.6 668%2c535' stroke='rgba(4%2c 139%2c 154%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1057.9043293112377%2c361 C -924.3%2c423 -657.1%2c716.4 -389.9043293112376%2c671 C -122.7%2c625.6 66.51%2c176.6 278.0956706887624%2c134 C 489.68%2c91.4 590.02%2c393.2 668%2c458' stroke='rgba(4%2c 139%2c 154%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1061'%3e%3crect width='668' height='878' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-size: cover;
    }

    .ligne{
        display: flex;
        padding-left: 10vw;
        flex-wrap: wrap;
        padding-left: 0;
        justify-content: center;
    }

    .allProjects{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 45vw;
        height: 45vw;
        margin: 20px 10px 0 10px;
    }

    .phone{
        display: flex;
        flex-direction: column;
        height:auto;
    }

    .underDiv{
        width: 100%;
        justify-content: space-around;
        padding : 20px 0 20px 0;
    }

    #accueilRight{
        display:none;
    }

    h1 {
        font-size: 35px;
        margin-left: 40px;
    }
    /* menu burger */
    .sidenav {
        height: 50%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: -100%;
        background-color: rgb(20, 20, 20);
        padding-top: 60px;
        transition: right 0.5s ease;
    }
      
    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
      
      /* Sidenav menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #dfdfdf;
        display: block;
        transition: 0.3s;
    }
      
    .sidenav a:hover {
        color: #c7c7c7;
    }
      
      /* Active class */
    .sidenav.active {
        left: 0;
    }
      
      /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }
      
    .burger-icon span {
        display: block;
        left : 0;
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }

    .burger-icon{
        position: absolute;
        right:5px;
        top: 5px;
    }

    #navList {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        list-style-type: none;
        flex-direction: column;
    }

    .logo{
        display:none;
    }

    .blueRod{
        display:none;
    }
}
@media (max-width: 640px) {
    .allProjects{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 90vw;
        height: 90vw;
        margin: 20px 10px 0 10px;
    }
}


@media (max-width: 480px) {
    .ligne{
        padding-left: 10vw;
        flex-wrap: wrap;
        padding-left: 0;
        justify-content: center;
    }

    h1{
        margin-left: 5vw;
    }
    .schoolCareer{
        flex-direction: column;
        align-items: center;
    }

    #aboutMeSection p{
        padding-left: 20px;
    }

    .allProjects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 90vw;
        height: 90vw;
        margin: 20px 10px 0 10px;
    }

}