@media (max-width: 1450px) {
    .allProjects{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 29vw;
        height: 29vw;
        margin: 20px 10px 0 10px;
    }

    h1{
        font-size: 40px;
        margin-left: 150px;
    }

    #aboutMeSection p{
        padding-left: 7vw;
        padding-right: 50px;
    }
}


@media (max-width: 1024px) {
    .compImgTxt img{
        height:100px;
    }

    .ligne{
        padding-left: 10vw;
        flex-wrap: wrap;
    }

    .allProjects{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 40vw;
        height: 40vw;
        margin: 20px 10px 0 10px;
    }
}

@media (max-width: 768px) {
    .ligne{
        padding-left: 10vw;
        flex-wrap: wrap;
        padding-left: 0;
        justify-content: center;
    }

    .allProjects{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 45vw;
        height: 45vw;
        margin: 20px 10px 0 10px;
    }

    footer{
        display: flex;
        flex-direction: column;
        height:auto;
    }

    .underDiv{
        width: 100%;
        justify-content: space-around;
        padding : 20px 0 20px 0;
    }

    #accueilRight{
        display:none;
    }

    nav{
        display:none;
    }

    h1 {
        font-size: 35px;
        margin-left: 40px;
    }
}
@media (max-width: 640px) {
    .allProjects{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 90vw;
        height: 90vw;
        margin: 20px 10px 0 10px;
    }
}


@media (max-width: 480px) {
    .ligne{
        padding-left: 10vw;
        flex-wrap: wrap;
        padding-left: 0;
        justify-content: center;
    }

    h1{
        margin-left: 5vw;
    }
    .schoolCareer{
        flex-direction: column;
        align-items: center;
    }

    #aboutMeSection p{
        padding-left: 20px;
    }

    .allProjects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 90vw;
        height: 90vw;
        margin: 20px 10px 0 10px;
    }

}