@media (min-width:769px) and (max-width:9999999px){
    .phone{
        display : none;
    }

    #closeBtn{
        display:none;
    }
}

@media (min-width:0px) and (max-width:768px){
    .desktop{
        display : none;
    }
}

@media (max-width: 1450px) {

    .allProjects{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 29vw;
        height: 29vw;
        margin: 20px 10px 0 10px;
    }

    h1{
        font-size: 40px;
        margin-left: 150px;
    }

    #aboutMeSection p{
        padding-left: 7vw;
        padding-right: 50px;
    }
}


@media (max-width: 1024px) {
    .compImgTxt img{
        height:100px;
    }

    .ligne{
        padding-left: 10vw;
        flex-wrap: wrap;
    }

    .allProjects{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 40vw;
        height: 40vw;
        margin: 20px 10px 0 10px;
    }
}

@media (max-width: 768px) {
    
    .ligne{
        padding-left: 10vw;
        flex-wrap: wrap;
        padding-left: 0;
        justify-content: center;
    }

    .allProjects{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 45vw;
        height: 45vw;
        margin: 20px 10px 0 10px;
    }

    .phone{
        display: flex;
        flex-direction: column;
        height:auto;
    }

    .underDiv{
        width: 100%;
        justify-content: space-around;
        padding : 20px 0 20px 0;
    }

    #accueilRight{
        display:none;
    }

    h1 {
        font-size: 35px;
        margin-left: 40px;
    }
    /* menu burger */
    .sidenav {
        height: 50%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: -100%;
        background-color: rgb(20, 20, 20);
        padding-top: 60px;
        transition: right 0.5s ease;
    }
      
    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
      
      /* Sidenav menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #dfdfdf;
        display: block;
        transition: 0.3s;
    }
      
    .sidenav a:hover {
        color: #c7c7c7;
    }
      
      /* Active class */
    .sidenav.active {
        left: 0;
    }
      
      /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }
      
    .burger-icon span {
        display: block;
        left : 0;
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
    }

    .burger-icon{
        position: absolute;
        right:5px;
        top: 5px;
    }

    #navList {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        list-style-type: none;
        flex-direction: column;
    }

    .logo{
        display:none;
    }

    .blueRod{
        display:none;
    }
}
@media (max-width: 640px) {
    .allProjects{
        display: flex;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 90vw;
        height: 90vw;
        margin: 20px 10px 0 10px;
    }
}


@media (max-width: 480px) {
    .ligne{
        padding-left: 10vw;
        flex-wrap: wrap;
        padding-left: 0;
        justify-content: center;
    }

    h1{
        margin-left: 5vw;
    }
    .schoolCareer{
        flex-direction: column;
        align-items: center;
    }

    #aboutMeSection p{
        padding-left: 20px;
    }

    .allProjects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    

    #myProjects .imgContainer{
        list-style-type: none;
        width: 90vw;
        height: 90vw;
        margin: 20px 10px 0 10px;
    }

}