body{
    margin:0;
    background-color: #1d1d1d;
    color:white;
    font-family: 'MADE Tommy Soft 500', sans-serif; 
}

#changeTheme{
    display:none;
}

/* Nav bar */

header{
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index:1;
}

nav {
    display : flex;
    justify-content: start;
    font-family: "Quicksand", Arial, sans-serif;
    background-color: #141414;
    height: 150px;
}

.logo{
    display:flex;
    align-items: center;
}

.blueRod{
    height: 2px;
    background-color: #048b9a;
}

nav a:hover{
    color : #048b9a;
    -webkit-transition: all 0.5s;
    transition: 0.5s;
}

nav a::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #048b9a;
    transition: 300ms;
}

nav a:hover::after {
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#profilePicture{
    width : 150px;
    padding-left: 50px;
}

#navList{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
}

/* end nav bar */

#accueil{
    height:85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
    font-family: 'MADE Tommy Soft 500', sans-serif;
    margin-left: 200px;
}

h1 .span {
    display:block;
}

h1 .letterSpan:hover{
    color : #048b9a;
    -webkit-transition: color 0.1s;
}

h2{
    font-family: 'MADE Tommy Soft 500', sans-serif;
    padding:30px 0 20px 25vw;

}

#skills h3{
    padding: 20px 0 10px 15vw;
}

#myProjects h3{
    text-decoration: underline #046a76;
}

#accueilRight{
    width:100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1400 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1130%26quot%3b)' fill='none'%3e%3crect width='1400' height='1000' x='0' y='0' fill='rgba(29%2c 29%2c 29%2c 1)'%3e%3c/rect%3e%3cpath d='M1653.7 466.8C1450.45 485.1 1258.63 924.2 966.14 906.8 673.65 889.4 799.32 105.38 622.36-90' stroke='rgba(4%2c 139%2c 154%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1448.32 317.47C1266.25 319.73 1119.4 534.01 750.93 527.47 382.46 520.93 292.19-105.31 53.54-159.63' stroke='rgba(4%2c 139%2c 154%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1656.08 854.33C1539.94 853.16 1432.36 729.33 1208.65 729.33 984.93 729.33 1049.47 901.93 761.21 854.33 472.96 806.73 516.95 116.51 313.78-22.28' stroke='rgba(4%2c 139%2c 154%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1633.81 555.6C1520.85 562.83 1504.4 831.35 1238.11 775.6 971.81 719.85 1036.25-16.34 842.4-191.43' stroke='rgba(4%2c 139%2c 154%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1479.93 670.35C1375.09 668.91 1279.76 545.35 1079.59 545.35 879.41 545.35 933.59 708.97 679.24 670.35 424.9 631.73 459.56 19.67 278.9-101.03' stroke='rgba(4%2c 139%2c 154%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1130'%3e%3crect width='100%' height='100%' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

#accueilLeft{
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#aboutMeSection{
    
}

#aboutMeSection{
    display: flex;
}

/* Section à propos de moi */
#aboutMeSection p{
    padding-left: 15vw;
}

/* Section parcours */
.schoolCareer{
    display: flex;
    justify-content: space-evenly;
}

.schoolYears{
    color:#048b9a;
}

/* Section compétences */
.imgSize{
    height: 100px;
}

.compImgTxt{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:15px 30px 15px 30px;
}

.ligne{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding-left:8vw;
}

#imgGit{
    filter: invert(1);
    z-index: -1;
}

/* Section projets */
#myProjects{
    padding-bottom: 50px;
}

.allProjects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#myProjects .imgContainer{
    list-style-type: none;
    width: 22vw;
    height: 22vw;
    margin: 20px 10px 0 10px;
}

.imgContainer{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.restauProject{
    background-image: url("../img/restauProject.png");
}

.instantGamingProject{
    background-image: url("../img/instantGamingProject.png");
}

.lesVieillesCharettesProject{
    background-image: url("../img/lesVieillesCharettes.png");
}

.javascriptRocketProject{
    background-image: url("../img/javascriptRocketProject.png");    
}

.projectDogApi{
    background-image: url("../img/projectDogApi.png");
}

.infoHover{
    display:none;
    height:100%;
}

.imgContainer:hover{
    transform: scale(1.1);
    transition: all .5s;
}

.imgContainer:hover .infoHover{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 20px 0 20px;
    background: rgba(0,0,0,90%);
    text-align: center;
}


.infoHover button{
    border-radius: 10px;
    border: solid 2px #046a76;
    color:white;
    background:linear-gradient(to right,#03565f,#046a76,#048b9a);
}

.infoHover button:hover{
    background:linear-gradient(to right,#024148,#03565f,#046a76);
}

/* Footer */
.sociaLogo{
    width:30px;
    height: 30px;
}

footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #141414;
    height: 75px;
}

.underDiv{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:20vw;
    text-align: center;
}

.underDiv p{
    margin:0;
}