@media (max-width: 480px) {
    .h1{
        font-size: 3rem;
    }

    .h2{
        font-size: 2rem;
    }

    header{
        height: auto;
    }
    
    .headerMain{
        display: block;
        position: relative;
    }

    .headerLeft{
        position: absolute;
        bottom: 0;
        opacity: 30%;
    }

    .headerRight{
        width: auto;
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .h1::after{
        width: 90%;
    }

    .text{
        padding: 30px;
        color: white;
        filter: drop-shadow(2px 3px 2px black);
    }

    .headerLeft img{
        width: 85vw;
    }

    .blackSquare{
        width: 95vw;
        height: 85vw;
    }

    .skills h2{
        font-size: 2.5rem;
        padding-left: 10vw;
    }

    .imgSize{
        height: 3.5em;
        width: auto;
    }

    .devIcons, .designIcons, .otherIcons{
        max-width: 80%;
        padding-left: 20vw;
    }

    .designIcons{
        padding-left: 10vw;
    }

    .luciferPaint, .whiteCircle2{
        z-index: -1; 
        opacity: 30%;

    }

    .luciferPaint{
        bottom: -100px;
    }

    .whiteCircle2{
        bottom:-230px;
        right: 0;
    }

    .skills h2{
        filter: drop-shadow(2px 4px 6px black);
        text-align: center;
        padding-left: 0;
    }

    .textProjects p{
        font-size: 2rem;
    }

    .textProjects{
        width: auto;
    }

    .squareProjects{
        width: auto;
        display: none;
    }

    #myProjects{
        height: 75vh;
    }

    nav::after{
        width: 85%;
    }
}

/* Petites tablettes à tablettes (portrait et paysage) */
@media (min-width: 481px) and (max-width: 768px) {
    .h1{
        font-size: 3rem;
    }

    .h2{
        font-size: 2rem;
    }

    header{
        height: auto;
    }
    
    .headerMain{
        display: block;
        position: relative;
    }

    .headerLeft{
        position: absolute;
        bottom: 0;
        opacity: 30%;
    }

    .headerRight{
        width: auto;
        z-index: 2;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .h1::after{
        width: 90%;
    }

    .text{
        padding: 30px;
        color: white;
        filter: drop-shadow(2px 3px 2px black);
    }

    .headerLeft img{
        width: 85vw;
    }

    .blackSquare{
        width: 95vw;
        height: 85vw;
    }

    .skills h2{
        font-size: 2.5rem;
        padding-left: 10vw;
    }

    .imgSize{
        height: 3.5em;
        width: auto;
    }

    .devIcons, .designIcons, .otherIcons{
        max-width: 80%;
        padding-left: 20vw;
    }

    .designIcons{
        padding-left: 10vw;
    }

    .luciferPaint, .whiteCircle2{
        z-index: -1; 
        opacity: 30%;

    }

    .luciferPaint{
        bottom: -100px;
    }

    .whiteCircle2{
        bottom:-230px;
        right: 0;
    }

    .skills h2{
        filter: drop-shadow(2px 4px 6px black);
        text-align: center;
        padding-left: 0;
    }

    .textProjects p{
        font-size: 2rem;
    }

    .textProjects{
        width: auto;
    }

    .squareProjects{
        width: auto;
        display: none;
    }

    #myProjects{
        height: 75vh;
    }

    nav::after{
        width: 85%;
    }
}

/* Tablettes grandes à petits ordinateurs portables */
@media (min-width: 769px) and (max-width: 1024px) {
    .skills h2{
        font-size: 2.5rem;
        padding-left: 10vw;
    }

    .imgSize{
        height: 3.5em;
        width: auto;
    }

    .devIcons{
        max-width: 80%;
    }

    .luciferPaint{
        height: 60vh;
    }

    .whiteCircle2{
        width: 63vh;
        height: 63vh;
        padding: 30px;
        bottom: -56px;
        right: -56px;
    }

    .h1{
        font-size: 4rem;
    }

    .h2{
        font-size: 2.5rem;
    }

    .textProjects{
        font-size: 1.5rem;
        width: 40%;
    }

    #myProjects {
        justify-content: space-around;
    }

    .projectHeader{
        flex-direction: column;
        padding-top: 25px;
    }

    .projectHeaderImg{
        padding-top: 10px;
    }
}

/* Petits écrans d'ordinateurs portables à écrans moyens */
@media (min-width: 1025px) and (max-width: 1540px) {
    .skills h2{
        font-size: 3.5rem;
        padding-left: 10vw;
    }

    .imgSize{
        height: 4.5em;
        width: auto;
    }

    .devIcons{
        max-width: 80%;
    }
}

/* Grands écrans */
/* @media (min-width: 1441px) {
    body {
    
    }
} */
  