@media (max-width: 480px) {
    body {
      /* Styles */
    }
}

/* Petites tablettes à tablettes (portrait et paysage) */
@media (min-width: 481px) and (max-width: 768px) {
    body {
    /* Styles */
    }
}

/* Tablettes grandes à petits ordinateurs portables */
@media (min-width: 769px) and (max-width: 1024px) {
    body {
    /* Styles */
    }
}

/* Petits écrans d'ordinateurs portables à écrans moyens */
@media (min-width: 1025px) and (max-width: 1540px) {
    .skills h2{
        font-size: 3.5rem;
        padding-left: 10vw;
    }

    .imgSize{
        height: 4.5em;
        width: auto;
    }

    .devIcons{
        max-width: 80%;
    }
}

/* Grands écrans */
/* @media (min-width: 1441px) {
    body {
    
    }
} */
  