*{
    margin:0;
    padding:0;
}

body{
    overflow-x: hidden;
}

/* Section header */

header{
    background-image: url('../img/Fond-marbre.png');
    background-size: cover;
    height: 100vh;
}

header ul{
    display: flex;
    gap: 5rem;
    list-style-type: none;
}

nav{
    font-family: 'Inter';
    font-size: 22px;
    padding: 1.8rem;
    position: relative;
    height: 2%;
    position: sticky;
}

a{
    color:inherit;
    text-decoration: inherit;
}

nav::after{
    position: absolute;
    content: "";
    height: 2px;
    background-color: #242424;
    width: 95%;
    top: 85%;    
}




.headerLeft{
/* background: url(../img/simone-pellegrini-L3QG_OBluT0-unsplash-removebg.png);
background-position: 0% 100%;
background-size:60%;
background-repeat: no-repeat; */
width:55vw;
height: 100%;
position: relative;

}

.headerLeft img{
    position: absolute;
    z-index: 3;
    bottom: 0px;
    left:0px;
    width: 37vw;
    filter: drop-shadow(52px 4px 4px rgba(0,0,0,0.25)) !important;
}

.blackSquare{
    position: absolute;
    width: 40vw;
    height: 40vw;
    padding: 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-color: #202020;
    border-radius: 100%;
    bottom: -100px;
    left:-50px;
    z-index: 2;
}

.whiteSquare{
    position: absolute;
    width: 41vw;
    height: 41vw;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0);
    border: white 3px solid;
    border-radius: 100%;
    bottom: -70px;
    left:-20px;
    z-index: 1;
}

.headerRight{
    width:45vw;
    font-family: 'Garet', sans-serif;
}

.h1{
    text-transform: uppercase;
    font-size: 7rem;
    position: relative;
    text-shadow: 3px 3px 5px rgb(106, 106, 106);
}

.h1::after{
    content: '';
    position: absolute;
    content: "";
    height: 4px;
    background-color: #242424;
    bottom: 0;
    left: 0;
}

.firstname{
    padding-top: 3rem;
}

.firstname::after{
    width: 32%;
}
.lastname::after{
    width: 40%;
}

.h2{
    font-size: 4.5rem;
    text-shadow: 3px 3px 5px rgb(106, 106, 106);
}

.text{
    padding-right: 10vw;
    padding-top: 25px;
}

.headerMain{
    display: flex;
    height:100%

}   

/* Skills */

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.skills{
    z-index: 9;
    background-color: #141414;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skills h2{
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 5.5rem;
    padding-left: 10vw;
}

.devIcons, .designIcons, .otherIcons{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 10vw;

}

.imgSize{
    height: 6em;
    width: auto;
}

.luciferPaint{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 70vh;
    opacity: 60%;
    z-index:2;
}

.whiteCircle2{
    position: absolute;
    width: 75vh;
    height: 75vh;
    padding: 60px;
    background-color: rgba(0, 0, 0, 0);
    border: white 3px solid;
    border-radius: 100%;
    bottom: -130px;
    right:-130px;
    z-index: 1;
}

/* Mes projets */

#myProjects{
    background-color: #141414;
    height: 100vh;
    z-index: 9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squareProjects{
    width: 50%;
}

.textProjects{
    width: 50%;
}

.texte{
    width: 90%;
}

.singleProject{
    position: relative;
    height: 100vh;
}

.project1, .project2, .project3, .project4, .project5{
    position: absolute;
    bottom: 50px;
    left:50px;
    color: white;
    height: 70vh;
    width: 90%;
    border: solid 1px white;
    border-radius: 15px;
    opacity:0;
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s ease; /* Ajoutez une transition pour une animation fluide */
    position: absolute;
    /* Ajoutez d'autres styles selon vos besoins */
}


.project1BackgroundImg{
    height: 50%;
    background-image: url('../img/instantGamingProject.png');
    background-size: cover;
    border-radius: 15px;
}

.project2BackgroundImg{
    height: 50%;
    background-image: url('../img/restauProject2.png');
    background-size: cover;
    border-radius: 15px;
}

.project3BackgroundImg{
    height: 50%;
    background-image: url('../img/crepe.png');
    background-size: cover;
    border-radius: 15px;
}

.project4BackgroundImg{
    height: 50%;
    background-image: url('../img/chillming.png');
    background-size: cover;
    border-radius: 15px;
}

.project5BackgroundImg{
    height: 50%;
    background-image: url('../img/velo.png');
    background-size: cover;
    border-radius: 15px;
}

.projectHeader{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    align-items: center;
    
}

.projectHeader h3{
    font-family: 'Poppins';
}

.projectContent{
    height: 50%;
}

.projectContent p{
    font-family: 'Poppins';
    font-weight: 200;
    padding: 20px 50px 0 50px;
}

.projectHeaderImg{
    display: flex;
    gap: 10px;
}

.projectHeaderImg img{
    height: 50px;
    width: auto;
}

.textProjects{
    color: white;
    font-family: 'Poppins';
    font-size: 3rem;
}

.textProjects p{
    border-bottom: 2px solid white;
}




